body {
  background-color: black;
  user-select: none;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

p {
  font-family: 'JetBrains Mono', monospace;
  color: white;
  margin: 0;
}

pre {
  font-family: 'JetBrains Mono';
  color: white;
  margin: 0;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

#cursor {
  animation: blink 1.5s step-end forwards;
}

#fetchText {
  width: 0;
  overflow: hidden;
  animation: typing 1s steps(5) forwards;
}

#fetchInfo {
  color: black;
  animation: fetch 1.6s step-end forwards;
}

#ghost {
  color: black;
  animation: fetch 2s step-end forwards;
}

#repo {
  color: black;
  animation: fetch 2.2s step-end forwards;
}

#repoCount {
  color: black;
  animation: fetch 2.4s step-end forwards;
}

#musicButton {
  color: white;
  background-color: black;
  font-family: monospace;
  border: none;
  font-size: 30px;
  position: fixed;
  top: 10px;
  right: 10px;
}

@keyframes blink {
  0%, 40%, 100% {
    color: black;
  }
  20%, 80% {
    color: white;
  }
}

@keyframes typing {
  0% {
    color: red;
  }
  95% {
    color: red;
  }
  96% {
    color: lime;
  }
  100% {
    color: white;
  }

  from {
    width: 0;
  }

  to {
    width: 5ch;
  }
}

@keyframes fetch {
  100% {
    color: white;
  }
}
